
<div class="container">
  <div class="card">

    <div class="form">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>

        <div class="btn-container">
          <button id="back" type="button" (click)="backToLanding()">Back</button>
          <button id="loginBtn" type="submit">LOGIN</button>
          <button (click)="goToRegister()" type="button">REGISTER</button>
        </div>

      </form>
    </div>
  </div>

</div>
